//-<Шрифты по умолчанию>=================================================
$font-family: 'Roboto';
//-</Шрифты по умолчанию>================================================

//-<ПЕРЕМЕННЫЕ>==================================================================
$maxWidth: 1400px;
$minWidth: 320px;
$maxWidthContainer: $maxWidth + 30px;
//-<ПЕРЕМЕННЫЕ>==================================================================

//-<BREAKPOINTS>-================================================================
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//-</BREAKPOINTS>-=============================================================================

//<Custom BREAKPOINTS>====================================================================================================================================

//</Custom BREAKPOINTS>====================================================================================================================================
$white: #ffffff;
$m_blue: #3498db;
$m_green: #2ecc71;
$header_bg: #3498db;
$main_bg: #ecf0f1;
$main_text: #333333;
$accent_col: #2ecc71;

$main_grad: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
