//<Обнуление файлов / импорт переменных>====================================================================================================================================
@import '_nullStyle';
@import '_variables';
//<Обнуление файлов / импорт переменных>====================================================================================================================================

//-<Подключаем файлы стилей>==============================================================
@import '_header';
@import '_main';
@import '_footer';
//@import "_home";
//@import "_forms";
//@import "_UI";
//-</Подключаем файлы стилей>==============================================================

//<Подключаем шрифты>=================================================================================================
//--&display=swap - оптимизация латиницы
//--&subset=cyrillic-ext - оптимизация кирилици
//@import "fonts"; //ипорт локально
//@import url() - импорт ссылкой
//</Подключаем шрифты>=================================================================================================

//-<Иконочные шрифты>-==============================================================
//@import ""; //скомпилированный фал был добавлен в папку после скачивания и удаления лишего
//-</Иконочные шрифты>-==============================================================

//-<Обнуление общиих параметров>-===================================================
body {
	font-family: $font-family;
	color: #000;
	font-size: 16px;

	&._lock {
		overflow: hidden;
	}
}

//-<Обнуление общих параметров>-===================================================

//<Wrapper и Ограничивающий контейнер>-========================================================================
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100% - 80px);
	min-height: 350px;
	width: 100%;
}

//---------------------------------------
._container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
}
//</Wrapper и Ограничивающий контейнер>========================================================================

//-<Основная сетка>==================================================================
.page {
}

//-<Основная сетка>==================================================================
